#menu{
   background-color: rgb(255, 61, 61);
    
}
#marca {
    
    text-decoration-color: red;
    font-weight: 200;
    font-family: fantasy;
    font-size: 16px;
    text-align: center;
    
}

#pie {
    background-color: rgb(255, 61, 61);
}


a:link{
    color:rgb(238, 121, 121);
    text-decoration: none;
    font-size: larger;
}
a:active{
    color:red;
}

a:visited {
    color: rgb(240, 108, 130);
}
a:focus {
    color: rgb(255, 0, 43);
}
#nav-tabContent{
    text-align: center;
    
}